/**
 * @file
 * Form Styling
 */

select{
  border: 1px solid #CCC;
  font-size: 0.8em;
  height: 25px;
  background-color: #FFF;
  color: #555;
}

input{
  padding: 4px 6px;
}

html.js input.form-autocomplete {
  background-position: 100% 6px;
}
html.js input.throbbing{
  background-position: 100% -18px;
}

input[type="submit"]#edit-draft, #node-edit .form-actions input[type="submit"]#edit-draft,
input[type="submit"]#edit-reset, #node-edit .form-actions input[type="submit"]#edit-reset,
input[type="submit"]#edit-delete, #node-edit .form-actions input[type="submit"]#edit-delete{
  background: #D14836;
}
input[type="submit"]#edit-draft:hover, #node-edit .form-actions input[type="submit"]#edit-draft:hover,
input[type="submit"]#edit-reset:hover, #node-edit .form-actions input[type="submit"]#edit-reset:hover,
input[type="submit"]#edit-delete:hover, #node-edit .form-actions input[type="submit"]#edit-delete:hover{
  background: #F00;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}

button, input[type="button"], input[type="reset"], input[type="submit"], #node-edit .form-actions input {
  border: 1px solid #CCC;
  margin-bottom: .5em;
  margin-right: 1em;
  font: bold 12px/32px 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
  text-decoration: none;
  height: 33px;
  color: #FFF;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #006DCC;
  background-image: -moz-linear-gradient(top, #67C2EF, #2FABE9);
  background-image: -ms-linear-gradient(top, #67C2EF, #2FABE9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#67C2EF), to(#2FABE9));
  background-image: -webkit-linear-gradient(top, #67C2EF, #2FABE9);
  background-image: -o-linear-gradient(top, #67C2EF, #2FABE9);
  background-image: linear-gradient(top, #67C2EF, #2FABE9);
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #67C2EF), color-stop(1, #2FABE9) );
  padding: 0 13px 1px;
  font-weight: normal;
}


button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, #node-edit .form-actions input:hover  {
  background: #2FABE9;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}


.form-item { /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error { /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}

.form-item label { /* The label for a form element */
  display: block;
  font-weight: bold;
}

.form-item label.option { /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}

.form-required { /* The part of the label that indicates a required field */
  color: #c00;
}

.form-item .description { /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item { /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0; /* Drupal core uses "0.4em 0" */
}

.form-submit { /* The submit button */
}

.container-inline div,
.container-inline label { /* Inline labels and form divs */
  display: inline;
}

.tips { /* Tips for Drupal's input formats */
}

a.button { /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */

#block-search-form { /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left; /* LTR */
}

/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul { /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link { /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link { /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */

form th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form tr.even {
  background-color: #fff;
}

form table .item-list ul {
  margin: 0;
}

.lt-ie8 tr.even th,
.lt-ie8 tr.even td,
.lt-ie8 tr.odd th,
.lt-ie8 tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}
