/*Grupo Allergar Botox*/

.og-context-node-307 .btn-add {
  background-color: #7030a0;
  background-image: -moz-linear-gradient(top, #a446ea, #7030a0);
  background-image: -ms-linear-gradient(top, #a446ea, #7030a0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a446ea), to(#7030a0));
  background-image: -webkit-linear-gradient(top, #a446ea, #7030a0);
  background-image: -o-linear-gradient(top, #a446ea, #7030a0);
  background-image: linear-gradient(top, #a446ea, #7030a0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'a446ea, endColorstr='#'2FABE9, GradientType=0);
  border-color: #a446ea;
}

.og-context-node-307 .btn-add:hover {
  background-color: #7030a0;
}

.og-context-node-307 a.btn:hover{
  color: #FFFFFF !important;
  border-bottom: none !important;

}
