#secondary-menu .sfHover li{

  max-width: 100px;
  list-style: none;
  text-shadow: none;
  background-color: #080808;
  box-shadow: none;
  opacity: .8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  padding: 5px 10px !important;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #FFF;
  white-space: normal !important;
}

#secondary-menu .sfHover li:hover{
  background-color: #0081C2;
  color: #FFF;
}

#secondary-menu .sf-menu li:hover > ul, #secondary-menu .sf-menu li.sfHover > ul {
  right: 23px;
  left: auto;
  width: 100px;
  max-width: 100px;
  top: 3.5em;
}

#secondary-menu .sfHover .sf-with-ul{
  background-color: #080808;
  opacity: .8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

#secondary-menu a > .sf-sub-indicator {
  top: 1.2em;
}

.sf-menu ul {
  width: auto;
}
