@media screen and (max-width:450px) {
  .not-logged-in.page-user .form-item input {
    width: 250px;

  }

  .not-logged-in.page-user #content {}

  .not-logged-in.page-user #content {

    float: none;
    width: 90%;
    border: none;

  }


}

@media screen and (max-width:600px) {
  .title-main-menu {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .title-main-menu {display: inline-block;}
  .title-menu{display: none;}
  table {
    margin: 0px;
  }
  td, th {
    padding: 8px;
    text-align: left;
  }

}
