body.not-logged-in.page-user{
  background: url('../images/bg-login.jpg');
}

.not-logged-in.page-user #content {
  float: none;
  width: 400px;
  margin: auto;
}

.not-logged-in.page-user .burr-flipped-content{
  width: 100%;
}

.not-logged-in.page-user .form-actions{
  text-align: right;
}

.not-logged-in.page-user #page-title{
  color: #536068;
  font-weight: normal;
  font-size: 1.4em;
  float: left;
}

.not-logged-in.page-user .logo{
  float: right;
  margin-top: -10px;
}

.not-logged-in.page-user .form-item .description {
  font-size: 0.8em;
  font-style: italic;
}

.not-logged-in.page-user .form-item input{
  width: 330px;
  color: #AAA;
  padding: 5px;
  font-size: 13px;
}

.not-logged-in.page-user #content {
  -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px
}

.not-logged-in.page-user .messages {
  clear: both;
  margin: 0;
}
